In [1]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('car data.csv')

In [5]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [6]:
data.shape

(301, 9)

In [7]:
print("No. of rows = ",data.shape[0])
print("No. of columns = ",data.shape[1])

No. of rows =  301
No. of columns =  9

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [9]:
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [10]:
data.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [11]:
data.head(1)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0

In [12]:
import datetime

In [13]:
date_time = datetime.datetime.now()
date_time.year

2024

In [14]:
data["Age"] = date_time.year - data["Year"]

In [15]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Age
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,10
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,11
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,7
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,13
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,10

In [16]:
data.drop("Year", axis = 1, inplace = True)

In [17]:
data.head()

,Car_Name,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Age
0,ritz,3.35,5.59,27000,Petrol,Dealer,Manual,0,10
1,sx4,4.75,9.54,43000,Diesel,Dealer,Manual,0,11
2,ciaz,7.25,9.85,6900,Petrol,Dealer,Manual,0,7
3,wagon r,2.85,4.15,5200,Petrol,Dealer,Manual,0,13
4,swift,4.60,6.87,42450,Diesel,Dealer,Manual,0,10

In [18]:
sorted(data["Selling_Price"],reverse = True)

[35.0,
 33.0,
 23.5,
 23.0,
 23.0,
 23.0,
 20.75,
 19.99,
 19.75,
 18.75,
 18.0,
 17.0,
 16.0,
 14.9,
 14.73,
 14.5,
 14.25,
 12.9,
 12.5,
 11.75,
 11.5,
 11.45,
 11.25,
 11.25,
 11.25,
 10.9,
 10.25,
 10.11,
 9.7,
 9.65,
 9.5,
 9.25,
 9.25,
 9.25,
 9.15,
 9.1,
 8.99,
 8.75,
 8.65,
 8.55,
 8.5,
 8.4,
 8.4,
 8.35,
 8.25,
 8.25,
 7.9,
 7.75,
 7.75,
 7.75,
 7.5,
 7.5,
 7.5,
 7.45,
 7.45,
 7.45,
 7.4,
 7.25,
 7.25,
 7.2,
 7.05,
 6.95,
 6.85,
 6.75,
 6.7,
 6.6,
 6.5,
 6.5,
 6.45,
 6.4,
 6.25,
 6.25,
 6.15,
 6.1,
 6.0,
 6.0,
 6.0,
 6.0,
 5.95,
 5.95,
 5.9,
 5.85,
 5.85,
 5.8,
 5.75,
 5.75,
 5.65,
 5.5,
 5.5,
 5.5,
 5.5,
 5.5,
 5.4,
 5.4,
 5.35,
 5.3,
 5.3,
 5.25,
 5.25,
 5.25,
 5.25,
 5.25,
 5.25,
 5.25,
 5.2,
 5.15,
 5.11,
 5.0,
 4.95,
 4.95,
 4.9,
 4.9,
 4.85,
 4.8,
 4.8,
 4.75,
 4.75,
 4.75,
 4.75,
 4.75,
 4.75,
 4.65,
 4.6,
 4.5,
 4.5,
 4.5,
 4.5,
 4.5,
 4.5,
 4.5,
 4.4,
 4.4,
 4.4,
 4.35,
 4.15,
 4.1,
 4.1,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 3.95,
 3.95,
 3.9,
 3.9,
 3.8,
 3.75,
 3.75,
 3.65,
 3.6,
 3.51,
 3.5,
 3.5,
 3.49,
 3.45,
 3.35,
 3.35,
 3.25,
 3.25,
 3.25,
 3.15,
 3.1,
 3.1,
 3.1,
 3.1,
 3.0,
 3.0,
 3.0,
 3.0,
 2.95,
 2.95,
 2.9,
 2.9,
 2.9,
 2.85,
 2.85,
 2.85,
 2.75,
 2.75,
 2.7,
 2.65,
 2.65,
 2.65,
 2.55,
 2.55,
 2.5,
 2.5,
 2.35,
 2.25,
 2.25,
 2.25,
 2.1,
 2.0,
 1.95,
 1.95,
 1.75,
 1.7,
 1.65,
 1.5,
 1.45,
 1.35,
 1.35,
 1.35,
 1.25,
 1.25,
 1.2,
 1.2,
 1.2,
 1.15,
 1.15,
 1.15,
 1.15,
 1.11,
 1.1,
 1.1,
 1.1,
 1.05,
 1.05,
 1.05,
 1.05,
 1.05,
 1.0,
 0.95,
 0.9,
 0.9,
 0.8,
 0.78,
 0.75,
 0.75,
 0.75,
 0.75,
 0.72,
 0.65,
 0.65,
 0.65,
 0.65,
 0.6,
 0.6,
 0.6,
 0.6,
 0.6,
 0.6,
 0.6,
 0.6,
 0.55,
 0.55,
 0.52,
 0.51,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.48,
 0.48,
 0.48,
 0.48,
 0.45,
 0.45,
 0.45,
 0.45,
 0.45,
 0.45,
 0.45,
 0.45,
 0.42,
 0.42,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.38,
 0.38,
 0.35,
 0.35,
 0.35,
 0.35,
 0.31,
 0.3,
 0.3,
 0.3,
 0.27,
 0.25,
 0.25,
 0.25,
 0.25,
 0.25,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.18,
 0.17,
 0.16,
 0.15,
 0.12,
 0.1]

In [19]:
data = data[~(data["Selling_Price"]>=33.0)]

In [20]:
sorted(data["Selling_Price"],reverse = True)

[23.5,
 23.0,
 23.0,
 23.0,
 20.75,
 19.99,
 19.75,
 18.75,
 18.0,
 17.0,
 16.0,
 14.9,
 14.73,
 14.5,
 14.25,
 12.9,
 12.5,
 11.75,
 11.5,
 11.45,
 11.25,
 11.25,
 11.25,
 10.9,
 10.25,
 10.11,
 9.7,
 9.65,
 9.5,
 9.25,
 9.25,
 9.25,
 9.15,
 9.1,
 8.99,
 8.75,
 8.65,
 8.55,
 8.5,
 8.4,
 8.4,
 8.35,
 8.25,
 8.25,
 7.9,
 7.75,
 7.75,
 7.75,
 7.5,
 7.5,
 7.5,
 7.45,
 7.45,
 7.45,
 7.4,
 7.25,
 7.25,
 7.2,
 7.05,
 6.95,
 6.85,
 6.75,
 6.7,
 6.6,
 6.5,
 6.5,
 6.45,
 6.4,
 6.25,
 6.25,
 6.15,
 6.1,
 6.0,
 6.0,
 6.0,
 6.0,
 5.95,
 5.95,
 5.9,
 5.85,
 5.85,
 5.8,
 5.75,
 5.75,
 5.65,
 5.5,
 5.5,
 5.5,
 5.5,
 5.5,
 5.4,
 5.4,
 5.35,
 5.3,
 5.3,
 5.25,
 5.25,
 5.25,
 5.25,
 5.25,
 5.25,
 5.25,
 5.2,
 5.15,
 5.11,
 5.0,
 4.95,
 4.95,
 4.9,
 4.9,
 4.85,
 4.8,
 4.8,
 4.75,
 4.75,
 4.75,
 4.75,
 4.75,
 4.75,
 4.65,
 4.6,
 4.5,
 4.5,
 4.5,
 4.5,
 4.5,
 4.5,
 4.5,
 4.4,
 4.4,
 4.4,
 4.35,
 4.15,
 4.1,
 4.1,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 3.95,
 3.95,
 3.9,
 3.9,
 3.8,
 3.75,
 3.75,
 3.65,
 3.6,
 3.51,
 3.5,
 3.5,
 3.49,
 3.45,
 3.35,
 3.35,
 3.25,
 3.25,
 3.25,
 3.15,
 3.1,
 3.1,
 3.1,
 3.1,
 3.0,
 3.0,
 3.0,
 3.0,
 2.95,
 2.95,
 2.9,
 2.9,
 2.9,
 2.85,
 2.85,
 2.85,
 2.75,
 2.75,
 2.7,
 2.65,
 2.65,
 2.65,
 2.55,
 2.55,
 2.5,
 2.5,
 2.35,
 2.25,
 2.25,
 2.25,
 2.1,
 2.0,
 1.95,
 1.95,
 1.75,
 1.7,
 1.65,
 1.5,
 1.45,
 1.35,
 1.35,
 1.35,
 1.25,
 1.25,
 1.2,
 1.2,
 1.2,
 1.15,
 1.15,
 1.15,
 1.15,
 1.11,
 1.1,
 1.1,
 1.1,
 1.05,
 1.05,
 1.05,
 1.05,
 1.05,
 1.0,
 0.95,
 0.9,
 0.9,
 0.8,
 0.78,
 0.75,
 0.75,
 0.75,
 0.75,
 0.72,
 0.65,
 0.65,
 0.65,
 0.65,
 0.6,
 0.6,
 0.6,
 0.6,
 0.6,
 0.6,
 0.6,
 0.6,
 0.55,
 0.55,
 0.52,
 0.51,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.48,
 0.48,
 0.48,
 0.48,
 0.45,
 0.45,
 0.45,
 0.45,
 0.45,
 0.45,
 0.45,
 0.45,
 0.42,
 0.42,
 0.4,
 0.4,
 0.4,
 0.4,
 0.4,
 0.38,
 0.38,
 0.35,
 0.35,
 0.35,
 0.35,
 0.31,
 0.3,
 0.3,
 0.3,
 0.27,
 0.25,
 0.25,
 0.25,
 0.25,
 0.25,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.2,
 0.18,
 0.17,
 0.16,
 0.15,
 0.12,
 0.1]

In [21]:
data.shape

(299, 9)

In [22]:
data.head()

,Car_Name,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Age
0,ritz,3.35,5.59,27000,Petrol,Dealer,Manual,0,10
1,sx4,4.75,9.54,43000,Diesel,Dealer,Manual,0,11
2,ciaz,7.25,9.85,6900,Petrol,Dealer,Manual,0,7
3,wagon r,2.85,4.15,5200,Petrol,Dealer,Manual,0,13
4,swift,4.60,6.87,42450,Diesel,Dealer,Manual,0,10

In [23]:
data['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [24]:
data['Fuel_Type'] = data['Fuel_Type'].map({'Petrol':0,'Diesel':1,'CNG':2})

In [25]:
data['Fuel_Type'].unique()

array([0, 1, 2])

In [26]:
data['Seller_Type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [27]:
data['Seller_Type'] = data['Seller_Type'].map({'Dealer':0,'Individual':1})

In [28]:
data['Seller_Type'].unique()

array([0, 1])

In [29]:
data['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [30]:
data['Transmission'] = data['Transmission'].map({'Manual':0,'Automatic':1})

In [31]:
data['Transmission'].unique()

array([0, 1])

In [32]:
data.head()

,Car_Name,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Age
0,ritz,3.35,5.59,27000,0,0,0,0,10
1,sx4,4.75,9.54,43000,1,0,0,0,11
2,ciaz,7.25,9.85,6900,0,0,0,0,7
3,wagon r,2.85,4.15,5200,0,0,0,0,13
4,swift,4.60,6.87,42450,1,0,0,0,10

In [33]:
X = data.drop(['Car_Name','Selling_Price'],axis=1)
y = data['Selling_Price']

In [34]:
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 299, dtype: float64

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [37]:
X_train

,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Age
6,8.12,18796,0,0,0,0,9
185,0.58,1900,0,1,1,0,16
187,0.51,32000,0,1,0,0,11
148,0.94,45000,0,1,0,0,14
30,5.98,51439,1,0,0,0,12
...,...,...,...,...,...,...,...
190,0.75,60000,0,1,0,0,16
72,18.61,56001,0,0,0,0,11
108,1.50,18000,0,1,0,0,8
272,10.00,27600,0,0,0,0,9
104,1.47,4100,0,1,0,0,7

In [38]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor         #pip install xgboost

In [39]:
lr = LinearRegression()
lr.fit(X_train,y_train)

rf = RandomForestRegressor()
rf.fit(X_train,y_train)

xgb = GradientBoostingRegressor()
xgb.fit(X_train,y_train)

xg = XGBRegressor()
xg.fit(X_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [40]:
y_pred1 = lr.predict(X_test)
y_pred2 = rf.predict(X_test)
y_pred3 = xgb.predict(X_test)
y_pred4 = xg.predict(X_test)

In [55]:
from sklearn import metrics

In [42]:
score1 = metrics.r2_score(y_test,y_pred1)
score2 = metrics.r2_score(y_test,y_pred2)
score3 = metrics.r2_score(y_test,y_pred3)
score4 = metrics.r2_score(y_test,y_pred4)

In [43]:
print(score1,score2,score3,score4)

0.6790884983129402 0.7222263907142354 0.8821118534682832 0.8887471822279068

In [44]:
final_data = pd.DataFrame({'Models':['LR','RF','GBR','XG'], "R2_SCORE":[score1,score2,score3,score4]})

In [45]:
final_data

  Models  R2_SCORE
0     LR  0.679088
1     RF  0.722226
2    GBR  0.882112
3     XG  0.888747

In [46]:
xg = XGBRegressor()
xg_final = xg.fit(X,y)

In [47]:
import joblib

In [49]:
joblib.dump(xg_final,'car_price_predictor2')

['car_price_predictor2']

In [50]:
model = joblib.load('car_price_predictor2')

In [51]:
data.head(1)

,Car_Name,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Age
0,ritz,3.35,5.59,27000,0,0,0,0,10

In [52]:
import pandas as pd
data_new = pd.DataFrame({
    'Present_Price':5.59,
    'Kms_Driven':27000,
    'Fuel_Type':0,
    'Seller_Type':0,
    'Transmission':0,
    'Owner':0,
    'Age':10
},index=[0])

In [53]:
model.predict(data_new)

array([3.3523676], dtype=float32)

In [54]:
xg_final.save_model('xgb_model.json')